$boxShadow: rgba(0, 0, 0, 0.18);
$gray: #f2f2f2;
.forecast {
  $root: ".forecast";
  max-width: 1024px;
  margin: 0 auto;
  .days {
    display: flex;
  }
  .day {
    min-height: 150px;
    background-color: white;
    border-radius: 5px 5px 0 0;
    box-shadow: 2px 2px 3px boxShadow;
    cursor: pointer;
    &.active {
      background-color: $gray;
    }
  }
  .day-foracast {
    display: none;
    box-shadow: 2px 2px 3px boxShadow;
    border-radius: 5px;
    min-height: 300px;
    background: $gray;
    padding: 16px;
    &.active {
      display: flex;
    }
  }
}
